<div class="data-editor-container row mx-0 pt-1">
  <div
    style="width: 500px; max-height: 860px; overflow-y: scroll"
    class="p-5 rounded bg-dark text-white"
  >
    <h2 class="text-center text-white">Data {{ action }} for {{ itemType }}</h2>

    <form *ngIf="item" (ngSubmit)="onSubmit()" [formGroup]="editor">
      <div
        *ngFor="let control of headerControls"
        class="form-group pb-2"
        [ngClass]="control.type === 'checkbox' ? 'd-flex flex-row' : ''"
      >
        <label class="text-white" [hidden]="!control.visible">
          {{ control.label }}
        </label>
        <ng-container
          *ngIf="control.visible === true"
          [ngSwitch]="control.type"
        >
          <select
            class="form-control bg-light"
            [(ngModel)]="
              control.key === 'catId'
                ? item['category'].id
                : control.key === 'catName'
                ? item['category'].name
                : control.key === 'catDescription'
                ? item['category'].description
                : control.key === 'addCountry'
                ? item['address'].country
                : control.key === 'addNotes'
                ? item['address'].notes
                : item[control.key]
            "
            *ngSwitchCase="'select'"
            [formControlName]="control.key"
            [name]="control.key"
            [hidden]="!control.visible"
          >
            <option *ngFor="let opt of control.options" [value]="opt">
              {{ opt }}
            </option>
          </select>
          <textarea
            class="form-control bg-light"
            *ngSwitchCase="'textarea'"
            [formControlName]="control.key"
            [name]="control.key"
            [hidden]="!control.visible"
            [(ngModel)]="item[control.key]"
          ></textarea>
          <input
            class="bg-light border-0 form-check-input"
            *ngSwitchCase="'checkbox'"
            [(ngModel)]="item[control.key]"
            [formControlName]="control.key"
            [name]="control.key"
            type="checkbox"
            [hidden]="!control.visible"
            [checked]="item[control.key]"
          />
          <input
            class="form-control bg-light"
            *ngSwitchDefault
            [(ngModel)]="
              control.key === 'addZip'
                ? item['address'].zip
                : control.key === 'addCity'
                ? item['address'].city
                : control.key === 'addStreet'
                ? item['address'].street
                : item[control.key]
            "
            [formControlName]="control.key"
            [name]="control.key"
            [type]="control.type || 'text'"
            [hidden]="!control.visible"
          />
        </ng-container>

        <small
          *ngIf="
            editor.controls[control.key]?.invalid &&
            editor.controls[control.key]?.touched
          "
          style="color: red"
        >
          {{ control.error }}
        </small>
      </div>

      <button
        [disabled]="!editor.valid"
        type="submit"
        class="btn btn-block my-2 w-100"
        [ngClass]="editor.valid ? 'btn-success' : 'btn-danger text-white'"
      >
        {{ action === "creator" ? "Create" : "Edit" }}
      </button>
    </form>
  </div>
</div>
