<div class="topnav w-100 bg-white">
  <nav
    class="navbar navbar-main navbar-expand-lg px-0 mx-4 shadow-none border-radius-xl"
    id="navbarBlur"
    data-scroll="true"
  >
    <div class="container-fluid py-1 px-3">
      <nav aria-label="breadcrumb">
        <ol class="breadcrumb bg-transparent mb-0 pb-0 pt-1 px-0 me-sm-6 me-5">
          <li class="breadcrumb-item text-sm">
            <a class="opacity-5 text-dark" [routerLink]="['/']">Pages</a>
          </li>
          <li
            class="breadcrumb-item text-sm text-dark active"
            aria-current="page"
          >
            {{ activeMenuItem }}
          </li>
        </ol>
      </nav>
    </div>
  </nav>

  <ul class="mobile-menu mx-auto w-100 bg-white">
    <li
      *ngFor="let item of menuItems"
      class="mobile-menu-item d-flex justify-content-center align-items-center m-1"
      (click)="setType(item.text)"
    >
      <a
        class="nav-link text-white bg-gradient-secondary cursor-pointer"
        [routerLink]="item.link"
        [routerLinkActive]="'active bg-gradient-info'"
      >
        <i class="fa fa-2x" [ngClass]="item.icon"
          ><span [hidden]="true">{{ item.text }}</span>
        </i>
      </a>
    </li>
  </ul>
</div>
