<div class="dashboard-container d-flex w-100 justify-content-around">
  <div class="piecharts ps-5">
    <div *ngIf="billStatusChart" class="pie p-5" id="chart">
      <apx-chart
        [series]="billStatusChart?.series"
        [chart]="billStatusChart?.chart"
        [labels]="billStatusChart?.labels"
        [responsive]="billStatusChart?.responsive"
        [legend]="billStatusChart?.legend"
        [stroke]="billStatusChart?.stroke"
        [fill]="billStatusChart?.fill"
        [tooltip]="billStatusChart?.tooltip"
        [colors]="billStatusChart?.colors"
      ></apx-chart>
    </div>

    <div *ngIf="orderStatusChart" class="pie p-5" id="chart">
      <apx-chart
        [series]="orderStatusChart?.series"
        [chart]="orderStatusChart?.chart"
        [labels]="orderStatusChart?.labels"
        [responsive]="orderStatusChart?.responsive"
        [legend]="orderStatusChart?.legend"
        [stroke]="orderStatusChart?.stroke"
        [fill]="orderStatusChart?.fill"
        [tooltip]="orderStatusChart?.tooltip"
        [colors]="orderStatusChart?.colors"
      ></apx-chart>
    </div>

    <div *ngIf="productDescriptionChart" class="pie p-5" id="chart">
      <apx-chart
        [series]="productDescriptionChart?.series"
        [chart]="productDescriptionChart?.chart"
        [labels]="productDescriptionChart?.labels"
        [responsive]="productDescriptionChart?.responsive"
        [legend]="productDescriptionChart?.legend"
        [stroke]="productDescriptionChart?.stroke"
        [fill]="productDescriptionChart?.fill"
        [tooltip]="productDescriptionChart?.tooltip"
        [colors]="productDescriptionChart?.colors"
      ></apx-chart>
    </div>
  </div>
  <div class="columncharts px-5">
    <div *ngIf="carTypeDistributionChart" class="colchart p-5" id="colchart">
      <apx-chart
        [series]="carTypeDistributionChart.series"
        [chart]="carTypeDistributionChart.chart"
        [dataLabels]="carTypeDistributionChart.dataLabels"
        [plotOptions]="carTypeDistributionChart.plotOptions"
        [yaxis]="carTypeDistributionChart.yaxis"
        [xaxis]="carTypeDistributionChart.xaxis"
        [fill]="carTypeDistributionChart.fill"
        [title]="carTypeDistributionChart.title"
      ></apx-chart>
    </div>

    <div
      *ngIf="customerCityDistributionChart"
      class="colchart p-5"
      id="colchart"
    >
      <apx-chart
        [series]="customerCityDistributionChart.series"
        [chart]="customerCityDistributionChart.chart"
        [dataLabels]="customerCityDistributionChart.dataLabels"
        [plotOptions]="customerCityDistributionChart.plotOptions"
        [yaxis]="customerCityDistributionChart.yaxis"
        [xaxis]="customerCityDistributionChart.xaxis"
        [fill]="customerCityDistributionChart.fill"
        [title]="customerCityDistributionChart.title"
      ></apx-chart>
    </div>
  </div>
  <div
    class="forecast d-flex justify-content-center align-items-center mx-auto"
  >
    <div class="elfsight-app-55a5bb42-7b3b-4e1f-aa6f-f00dda7b0f1e"></div>
  </div>
</div>
