.dashboard-container {
  margin-top: 50px;
}

@media only screen and (max-width: 2000px) {
  .dashboard-container {
    flex-direction: column;
  }

  .piecharts {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .columncharts {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .pie {
    width: 100%;
    margin: 0 auto;
    padding: 0;
  }
}

@media only screen and (max-width: 1200px) {
  .dashboard-container {
    margin-top: 100px;
  }
}

@media only screen and (max-width: 1000px) {
  .piecharts {
    flex-direction: column;

    .pie {
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }

  apx-chart div {
    width: 400px;
  }
}
