<div class="ticker-wrap">
  <div class="ticker">
    <div class="ticker__item">All active customers: {{ activeCustomers }}</div>
    <div class="ticker__item">Value of all cars: {{ valueOfAllCars }} CAD</div>
    <div class="ticker__item">
      Most popular car: {{ mostPopularCar.type }}
      {{ mostPopularCar.name }}
    </div>
    <div class="ticker__item">
      Most expensive car: {{ mostExpensiveCar.type }}
      {{ mostExpensiveCar.name }} - {{ mostExpensiveCar.price }} CAD
    </div>
    <div class="ticker__item">
      Most loyal customer: {{ mostLoyalCustomer.firstName }}
      {{ mostLoyalCustomer.lastName }}
    </div>
  </div>
</div>
