* {
  box-sizing: border-box;
}
$duration: 30s;

@-webkit-keyframes ticker {
  0% {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    visibility: visible;
  }

  100% {
    -webkit-transform: translate3d(-100%, 0, 0);
    transform: translate3d(-100%, 0, 0);
  }
}

@keyframes ticker {
  0% {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    visibility: visible;
  }

  100% {
    -webkit-transform: translate3d(-100%, 0, 0);
    transform: translate3d(-100%, 0, 0);
  }
}

.ticker-wrap {
  position: relative;

  width: 100%;
  overflow: hidden;
  height: 2rem;
  background-color: #5a6371;
  padding-left: 100%;
  box-sizing: content-box;

  .ticker {
    display: inline-block;
    height: 2rem;
    line-height: 2rem;
    white-space: nowrap;
    padding-right: 100%;
    box-sizing: content-box;

    -webkit-animation-iteration-count: infinite;
    animation-iteration-count: infinite;
    -webkit-animation-timing-function: linear;
    animation-timing-function: linear;
    -webkit-animation-name: ticker;
    animation-name: ticker;
    -webkit-animation-duration: $duration;
    animation-duration: $duration;

    &__item {
      display: inline-block;

      padding: 0 7rem;
      font-size: 1rem;
      color: white;
    }
  }
}

.ticker-container {
  position: fixed;
  bottom: 0;
  left: 0;
}

.lead {
  display: block;
  position: absolute;

  font-size: 20px;
  background: #328cec;
  color: white;
  text-transform: uppercase;
  font-style: italic;
  letter-spacing: 3px;
  font-weight: 500;
  z-index: 2;
  height: 2.8rem;
  margin-top: -10px;
  padding-left: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.lead::after {
  content: "";
  position: relative;
  left: 48px;

  z-index: 2;

  border-top: 2.8rem solid #328cec;
  border-right: 3rem solid transparent;
}
